@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Patrick+Hand&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --primary: #7C3AED;
  --secondary: #FACC15;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.highlight-font {
  font-family: 'Patrick Hand', cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
